<nav>
<div class="nav">        
    <ul class="nav-ul">
        <li><a href="/">Home</a></li>
        <li><a href="/new">Add new trail</a></li>
        <% if (!currentUser) { %>
            <li><a href="/users/new">Sign Up</a></li>
            <li><a href="/sessions/new">Log In</a></li>
 
        <% } else { %>
            <li>Welcome <%= currentUser.username %></li>
            <li>
                <form action="/sessions/logout">
                    <input type="submit" value="Log Out" class="button">
                </form>
            </li>

        <% } %>
    </ul>
</div>
</nav>