<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head.ejs')%>
</head>
<body>
  <%- include ('../partials/nav.ejs')%>
  <h1>New Trail</h1>

  <form action="/trails" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" required /> </br>

    <label for="location">Location:</label>
    <input type="text" name="location" /> </br>

    <label for="difficulty">Difficulty:</label>
    <input type="text" name="difficulty" /> </br>

    <label for="image">Image:</label>
    <input type="text" name="image" /> </br>
    
    <input class="button" type="submit" value="Submit">
  </form>

  <a href="/trails">
    <button>Back</button>
  </a>
</body>
</html>