<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head.ejs')%>
</head>
<body>
  <%- include ('../partials/nav.ejs')%>
  <h1>New Trail</h1>

  <form action="/" method="POST">
    <label for="name">Name:</label> </br>
    <input type="text" name="name" required /> </br>

    <label for="location">Location:</label> </br>
    <input type="text" name="location" /> </br>

    <label for="difficulty">Difficulty:</label> </br>
    <input type="text" name="difficulty" /> </br>

    <label for="image">Image:</label> </br>
    <input type="text" name="image" value="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCaWBY2XhpjsOa487Mf0N1f5UZ-rrEBdExRA&usqp=CAU" /> </br>

    <label for="description">Description:</label> </br>
    <input type="text" name="description" /> </br>
    
    <input class="button" type="submit" value="Submit">
  </form>

  <a class="back" href="/">
    <button>Back</button>
  </a>
</body>
</html>